/* CSS HEX */
--indigo-dye: #274060ff;
--space-cadet: #1b2845ff;
--tomato: #ff6542ff;
--tea-green: #ddf9c1ff;
--viridian-green: #119da4ff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #274060ff, #1b2845ff, #ff6542ff, #ddf9c1ff, #119da4ff);
$gradient-right: linear-gradient(90deg, #274060ff, #1b2845ff, #ff6542ff, #ddf9c1ff, #119da4ff);
$gradient-bottom: linear-gradient(180deg, #274060ff, #1b2845ff, #ff6542ff, #ddf9c1ff, #119da4ff);
$gradient-left: linear-gradient(270deg, #274060ff, #1b2845ff, #ff6542ff, #ddf9c1ff, #119da4ff);
$gradient-top-right: linear-gradient(45deg, #274060ff, #1b2845ff, #ff6542ff, #ddf9c1ff, #119da4ff);
$gradient-bottom-right: linear-gradient(135deg, #274060ff, #1b2845ff, #ff6542ff, #ddf9c1ff, #119da4ff);
$gradient-top-left: linear-gradient(225deg, #274060ff, #1b2845ff, #ff6542ff, #ddf9c1ff, #119da4ff);
$gradient-bottom-left: linear-gradient(315deg, #274060ff, #1b2845ff, #ff6542ff, #ddf9c1ff, #119da4ff);
$gradient-radial: radial-gradient(#274060ff, #1b2845ff, #ff6542ff, #ddf9c1ff, #119da4ff);

/* Global Styles 
---------------------------------------*/
body { /* added inline because it wasn't working */
    color: #274060ff;
    margin: 0 auto;
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    display: block; 
}
img {
    width: 300px;
}
a {
    color: #ddf9c1ff;
}
a:hover {
    text-decoration: none;
}
.button {
    color: azure;
    background: #274060ff;
    padding: 8px;
    text-decoration: none;
    border-radius: 4px;
}
.button a {
    color: azure;
}
.button:hover {
    background: linear-gradient(0deg, #274060ff, #119da4ff);
    color: azure;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}
h1, h2 {
    font-family: 'Supermercado One', cursive;
}
h1 {
    font-size: 40px;
    line-height: 1.2;
}
h2 {
   font-size: 30px;
   line-height: 1.2;
}

/* Profile 
---------------------------------------*/
header {
    background: #274060ff;
    color: azure;
}

.content-wrap {
    width: 900px;
    margin: 0 auto;
}
/* Projects 
---------------------------------------*/
.projects {
    background: #ddf9c1ff;
}
.projects a {
    color: #119da4ff;
}
.proj-image {
    float: left;
}


/* Work Experience
---------------------------------------*/
.work-experience {
    background: #ff6542ff;
}

/* Education 
---------------------------------------*/
.education {
    background: #119da4ff;
}

/* Contact 
---------------------------------------*/
footer {  
    background: #119da4ff;
    color: azure;
}